* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#ffff00, #f1e212 50%, #ebeb17 60%, #dad23b);
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    padding-left: 75px;
    justify-content: flex-start;
}

header h3 {
    font-weight: 600;
    color: brown;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-logo {
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
main .pikachu {
    justify-content: center;
    z-index: 3;
}

main .content-text {
    position: absolute;
    color: #ffffff;
    font-size: 20.0rem;
    width: 240px;
    transform: translateX(-100%);
    text-align: end;
    justify-content: first baseline;
}
main .content-background {
    position: relative;
    color: #ffffff;
    font-size: 35.0rem;
    width: 240px;
    transform: translateX(-100%);
    text-align: top left;
    opacity: 30%;
}

main .content-image {
    height: 60vh;
    align-items: center;
    justify-content: center;
}

footer {
    height: 100px;
    display: flex;
    padding-right: 75px;
    justify-content: space-between;
    padding-left: 75px;
    color: #FFFFFF;
    font-weight: 100;
}
footer .content-text {
        transform: translateX(0%);
        top: 80px;
        font-size: 3rem;
        width: 400px;
        text-align: top left;
        color: brown;
}
footer div {
    width: 750px;
    font-size: 2rem;
    color: brown;
}

footer span{
    color: brown;
    align-items: end;
}
